.container {
    width: 330px;
    margin-inline: auto;
    margin-top: 2rem;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 1000px) {

    .container {
        width: 700px;
    }
  }